<!-- 
Copyright (c) 2011, salesforce.com, Inc.
All rights reserved.

Redistribution and use in source and binary forms, with or without modification, 
are permitted provided that the following conditions are met:

    * Redistributions of source code must retain the above copyright notice, 
    this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above copyright notice, 
    this list of conditions and the following disclaimer in the documentation 
    and/or other materials provided with the distribution.
    * Neither the name of the salesforce.com, Inc. nor the names of its contributors 
    may be used to endorse or promote products derived from this software 
    without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND 
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, 
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, 
BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, 
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF 
LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE 
OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED 
OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<apex:page standardController="MPM4_BASE__Milestone1_Project__c" 
           recordSetVar="projects"
           extensions="MPM4_BASE.Milestone1_Import_Project_Controller"  
           tabStyle="Milestone1_Import_Project_Template__tab"
		   sidebar="false"
           applyBodyTag="false"
           docType="html-5.0">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<head>
	  		<title>Import Project</title>
	 		 <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
	 		<apex:stylesheet value="{!URLFOR($Resource.MPM4_BASE__SLDS070, '/assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
		</head>
		<center>
		
		<div class="slds slds-grid--frame" role="main">       
		    <style>
		    	.xmlImportError { color: red; font-weight: strong;}
		    </style>
		    <apex:pageBlock title="{!$Label.mpm4_base__milestone1_projectxmlimport}">
		        <div class="slds slds-container--center slds-container--small" style="width:100%;">
		        	<apex:messages styleClass="xmlImportError" />
			        
			        <apex:form >
				        <center>
					        
					        <apex:pageBlockSection title="{!$Label.mpm4_base__milestone1_importlocaltemplatexml}" collapsible="false">
					            <apex:inputFile style="width:100%" fileSize="{!maxFileSize}" id="fileToUpload" value="{!fileBody}" 
					                contentType="{!contentType}" filename="{!fileName}" />
					            <apex:commandButton action="{!importTemplateXML}" value="{!$Label.mpm4_base__milestone1_import}" styleClass="slds-button slds-button--brand"></apex:commandButton>
					        </apex:pageBlockSection> 
					        
					        <apex:pageBlockSection title="{!$Label.mpm4_base__milestone1_importtemplatexml}" collapsible="false">
					        	<apex:actionRegion >
					                <apex:selectList size="1" value="{! folderId }" styleClass="slds-truncate">
					                    <apex:actionSupport event="onchange" action="{! resetDocumentList }" reRender="details" status="statusMessage"/>
					                    <apex:selectOptions value="{! folderOptions }"/>
					                </apex:selectList>
            					</apex:actionRegion>
					        	<apex:actionStatus id="statusMessage" startText="(refreshing...)" stopText=" " startStyleClass="xmlImportError"/>
					        	<apex:outputPanel id="details">
						        	<table styleClass="slds-table">
										<tbody>
											<tr class="slds-hint-parent">
												<apex:selectRadio value="{!docId}" layout="pageDirection" styleClass="slds-truncate">
													<apex:selectOptions value="{!docOptions}"/>
												</apex:selectRadio>
												
												<apex:commandButton rendered="{!documentsExist}"  action="{!importTemplateXML}" value="{!$Label.mpm4_base__milestone1_import}" styleClass="slds-button slds-button--brand"></apex:commandButton>
											</tr>
										</tbody>
									</table>
								</apex:outputPanel>
							     </apex:pageBlockSection>
			        	
			        	</center>
			        
			        </apex:form>
		        </div>
		     </apex:pageBlock>
	     </div>
	     </center>
     </html>
</apex:page>